#gameDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*image-rendering: crisp-edges;*/
    image-rendering: smooth;
}

#backgroundId {
    background-repeat: repeat no-repeat;
    background-color: #959595;
}